.hero {
    background-image: url('../static/img/prin.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}

.projects p{
    text-align: justify;
}

.presentation {
    background-color: #f4f4f4;
}

.projects {
    background-color: #fff;
}

footer {
    background-color: #333;
    color: white;
}
